<launch>
 
  <!-- Load URDF,SRDF and MOVEIT config here -->
 
  <!-- +++++++++++++++++++++ ARGUMENTS +++++++++++++++++++++ -->
  
  <!-- Launch file arguments -->
  <arg name="planning_group" default="omnirob_base"/>
  
  <!-- Namespace prefix of URDF,SRDF and MOVEIT and Name of robot_description parameter on parameter server-->
  <arg name="ns_prefix_robot" 			default=""/>
  <arg name="robot_description_robot" 	default="robot_description"/>
  
  <!-- Planners to activate -->
  <arg name="start_uni_planner" default="false"/>
  <arg name="start_bi_planner" 	default="true"/>
  <arg name="planning_config" 	default="planner_parameters_omnirob"/>
  
  <!-- +++++++++++++++++++++ PARAMETERS +++++++++++++++++++++ -->
  
  <!-- Define Parameter storing the namespace of the omnirob robot -->
  <param name="ns_prefix_robot" value="$(arg ns_prefix_robot)" /> <!-- e.g. /omnirob_lbr/ -->
  <!-- Define Parameter storing the name of the robot description parameter -->
  <param name="robot_description_robot" value="$(arg robot_description_robot)" /> <!-- e.g. /omnirob_lbr/robot_description --> 
  
  <!-- Load configuration file for planner -->
  <rosparam command="load" file="$(find planner_param_config)/planner_config/$(arg planning_config).yaml"/>
  
  <!-- +++++++++++++++++++++ PLANNING NODE +++++++++++++++++++++ -->
  
  <!-- Start Planning Server Node -->
  <node name="planning_server" pkg="planning_server" type="planning_service_node" cwd="node" output="screen"><!--or output="screen" to print std/cout in terminal-->
	<param name="planning_group" 					value="$(arg planning_group)" />
	<param name="activate_unidirectional_planner" 	value="$(arg start_uni_planner)" />
	<param name="activate_bidirectional_planner" 	value="$(arg start_bi_planner)" />
  </node> 
  
</launch>